/* .App {
  text-align: center;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.tick {
  font-size: 1.25em;
}

.radio-choice-label {
  font-size: 1.25em;
}

.post-survey-separator {
  width: 450px;
  height: 5px;
  background-color: rgba(0,0,0,0.1);
}

#home-text {
  text-align: left;
  padding: 1rem;
}

::backdrop {
    background-color: white;
}

/* #vg-tooltip-element h2 {
  font-size: 15px;
  font-weight: bold;
} */

#vg-tooltip-element.vg-tooltip.custom-theme {
  font-size: 15px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgba(97, 97, 97, 0.92);  
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-image-outset: 0;
  border: 1px solid rgb(217, 217, 217);
}