doc
build
backups
amplify
scripts
node_modules
packages/app/cypress
packages/cli
packages/firebase
packages/test
#packages/test-shared
temp
*.test.js
*.md
setenvdev.sh
setenvprod.sh
setenvstaging.sh
amplify.yml
customHttp.yml
.gitignore
.vscode