# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# creds
*admin-credentials-*.json
web-credentials-staging.json
web-credentials-production.json
.env.staging
.env
.env.local
.env.development
.env.dev
.env.production
.env.prod
.env.staging
discounters.development.json
discounters.production.json
/setenvprod.sh
/setenvdev.sh
/setenvstaging.sh

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
pacakages/test/node_modules
packages/test/public

# production
/build
/packages/firebase/functions/temp

# Next.js
.next/
out/
next-env.d.ts

# misc
.DS_Store

#logs
#npm-debug.log*
#yarn-debug.log*
#yarn-error.log*
**/*.log

/dist

# vim temporary files
*.swp

# cypress
packages/app/cypress/fixtures
packages/app/cypress/plugins
packages/app/cypress/screenshots
packages/app/cypress/videos
packages/app/cypress/downloads
doc/~$MCL questions.xlsx

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end

#test data folders
/temp

# yarn with zero installs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

backups/**
scripts/set-env-vars.sh
